body {
    background-color: #321D2F;
    line-height: 1.5;

    margin: 0 auto;
    padding: 4em 1em;
    max-width: 50em;

    font-family: "Helvetica", "Arial", sans-serif;
}


p {
    color: #fff;
}


#kitten img {
    position: relative;
    left: 50%;
}

#navbar {
    margin: 1em;
    transform: translateX(27%);
}

#navbar ul {
    display: inline-flex;
}

#navbar ul a {
    color: #fff
}

h1,
h2,
strong {
    color: #4C5F7A
}

h2 {
    margin-top: 1em;
    padding-top: 1em
}

pre {
    background: #3D2E4F;
    padding: 1em;
    border-left: 4px solid #69c;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

a {
    color: #393E6F
}